
.createForm{
    margin-top: 50px;
     font-family: Times New Roman;
     font-weight: bolder;
 }
  
 .form-group{
    margin-bottom: 10px;
}
#description{
    height: 200px;
    margin-top: 20px;
}

/* index view css*/ 
.Roomindex{ margin-left: 100px;}
.RoomsTdTable{
  text-align: center;
}
.addRoomIcon{
   
    margin-top: 20px;
}
.roomsTable{
   
    width: 90%;
    margin-bottom: 100px;
}
.roomsTable th{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  
}


 
.roomName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}



  .az{
        margin-right: 50%;
     }
     .deleteRoom{
        display: inline;
     }

     
   /*edit*/
   .editForm{
    margin-top: 50px;
     font-family: Times New Roman;
     font-weight: bolder;
 }
 
 /*show*/
 .container {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .roomView {
  background-color: #b2bec3;
  }
  .Pictures{
    background-color: #dfe6e9;
  }
  #roomsTitle{
    font-family: Pacifico;
    font-size: 60px;
    color: #002D40;
    text-shadow: 1px 1px 1px white;
    text-align:justify;
  }